html {
  scroll-behavior: smooth;
}


/* Body styling */
body {
  margin: 0;
  padding: 0;
  background: url(../img/background6.png) no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 800px;
}

/* Nav bar styling */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-size: 100%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  font-family: 'Patua One', cursive;
  background-size: 100%;
  text-align: center;
  background-color: black;
  padding: 20px;
}

/* Nav bar table styling */
li {
  display: inline-table;
}

/* Nav bar styling */
li a {
  display: table-row;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Nav bar Hover styling */
li a:hover {
  background-color: #111;
}

/* Nav bar active color styling */
.active {
  background-color: rgba(0, 0, 0, 0.5);
}

/* Home "About myself styling" */
.box {
  background: rgba(0, 0, 0, 0.5);
  padding: 40px;
  text-align: center;
  margin: auto;
  color: white;
  font-family: 'Patua One', cursive;
}

/* Home content image */
.box-img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

/* Home content "about myself" */
.box h1 {
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
  text-align: center;
}

.box h5 {
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
  text-align: center;
}

.box p {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-column-gap: 5px;
  grid-template-columns: auto auto;
  padding: 10px;
  background-image: url(../img/b6.jpg);
  color: white;
  font-family: 'Basic', sans-serif;


  padding: 40px;
  background-size: cover;
  position: relative;


/* Personl Details starts here */
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);

  padding: 20px;
  font-size: 30px;

  margin: 3%;
  background: rgba(0, 0, 0, 0.5);

  transition: transform .2s;
  font-size: 0.9em;
}

.grid-item:hover {
  transform: scale(1.1);
}/* Personl details ends here */


/* header and footer styling */
header, footer {
  background-size: 100%;
  text-align: center;
  color: white;
  font-family: 'Patua One', cursive;
  border: 2px;
  background-color: black;
  padding: 20px;
}

.Contact:hover {
  background-color: rgba(255, 255, 255, 0.8)
}


/* Responsiveness */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .grid-container {
  display: block;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
